

<div data-ng-controller="PeopleController" data-ng-init="find()">
    <!--<div class="offset" style="padding-top: 80px;"></div>-->
    <div class="page-title" style="background-image: url(images/header1.jpg);">
        <div class="overlay"></div>
        <h1>People</h1>
    </div>
    <div class="grid-portfolio fix-portfolio">
        <div class="container inner">
            <a data-ng-repeat="person in people" data-ng-href="#!/people/{{person._id}}" class="list-group-item">
                <h4 class="list-group-item-heading" data-ng-bind="person.name"></h4>
            </a>
        </div>
    </div>
</div>