<div class="offset" style="padding-top: 80px;" change-navbar-background=""></div>
<!--<div class="page-title" style="background-image: url(images/header1.jpg);">-->
    <!--<div class="overlay"></div>-->
<!--</div>-->

<div class="light-wrapper"  data-ng-controller="MoviesController" data-ng-init="findOne()" >
    <div class="container inner" >
      <div class="section-title text-center">
        <h3>{{movie.title}}</h3>

      </div>
      <div class="row">
        <div class="col-sm-5 rp20">
          <figure><img src="http://image.tmdb.org/t/p/w500{{movie.poster}}" alt=""></figure>
        </div>
        <!-- /.span3 -->
        <div class="col-sm-7">
            <p>Dirección <a ng-repeat="person in movie.director" ng-href="/#!/people/{{person.id}}">{{person.name}}{{$last ? '' : ', '}}</a></p>
            <p>Guión <a ng-repeat="person in movie.screenplay" ng-href="/#!/people/{{person.id}}">{{person.name}}{{$last ? '' : ', '}}</a></p>
            <p>Música <a ng-repeat="person in movie.music" ng-href="/#!/people/{{person.id}}">{{person.name}}{{$last ? '' : ', '}}</a></p>
            <p>Fotografía <a ng-repeat="person in movie.photography" ng-href="/#!/people/{{person.id}}">{{person.name}}{{$last ? '' : ', '}}</a></p>
            <p>Producción <a ng-repeat="person in movie.producer" ng-href="/#!/people/{{person.id}}">{{person.name}}{{$last ? '' : ', '}}</a></p>
            <p>Genero <a ng-repeat="person in movie.genres" ng-href="/#!/people/{{person.id}}">{{person.name}}{{$last ? '' : ', '}}</a></p>
            <p>Reparto <a ng-repeat="person in movie.cast" ng-href="/#!/people/{{person.id}}">{{person.name}}{{$last ? '' : ', '}}</a></p>
          <p>{{movie.overview}}</p>

          <div class="pull-right" style="margin-top: 20px;" >
              <a class="btn btn-primary" data-ng-show="authentication.user" ng-click="seen(movie._id)" title="Marcar como vista">
                  <i data-ng-model="wseen" ng-class="{'glyphicon glyphicon-eye-close':wseen,'glyphicon glyphicon-eye-open':!wseen}"></i>
              </a>
            <a data-ng-if="authentication.user.roles.indexOf('admin')>-1" class="btn btn-primary" href="/#!/movies/{{movie._id}}/edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a data-ng-if="authentication.user.roles.indexOf('admin')>-1" class="btn btn-primary" data-ng-click="remove();">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </div>
        </div>
        <!-- /.span9 -->
      </div>
      <!-- /.row -->

    </div>
  </div>
